.autoplay {
    width: 80%; /* Ajusta el ancho del carrusel según tus necesidades */
    margin: 0 auto;
}

.logro-item img {
    max-width: 100%; /* Ajusta el tamaño de las imágenes */
    height: auto;
